<h1>{{title}}</h1>
<p>{{beat.title}}</p>


    <form method = "POST" action = "">

        <input
        id="beatid" 
        type="hidden"
        name="beatid",
        required="true",	
        value={{beat._id}}
        />
        <button type='submit'>Delete</button>
    </form>