<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>

    <li><a href='/collection'>Home</a></li>
    <li><a href='/collection/beat'>All beats</a></li>
    <li><a href='/collection/producer'>All producers</a></li>
    <li><a href='/collection/tags'>All tags</a></li>
    <hr>
    <li><a href='/collection/producer/create'>Create new producer</a></li>
    <li><a href='/collection/tags/create'>Create new tags</a></li>
    <li><a href='/collection/beat/create'>Create new beat</a></li>
    {{{body}}}
  </body>
</html>
